<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">
		<title>akshaydeo.me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Akshay Deo">
			<!-- scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="{{ MEDIA_URL }}js/bootstrap.js"></script>
		<!-- Google webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
		<!-- Le styles -->
		<link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
		  body {
				padding-top: 60px;
				padding-bottom: 40px;				
		   }
			  .sidebar-nav {
				padding: 9px 0;
			   }
			</style>
		<link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>			
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">					
					<!-- Be sure to leave the brand out there if you want it shown -->
					<a class="brand" href="#" style="font-family: 'Russo One', sans-serif; font-size:30px; color:#BDBDBD; ">Akshay Deo</a>						
				</div>

			</div>		
		</div>
		<div class="container">
			<div class="subnav subnav-fixed">
				<ul class="nav nav-pills">				
					<li {% if tab_id == '1' %} class="active" {% endif %} style="font-size:18px; font-weight:bold;"><a href="/">Home</a></li>
					<li {% if tab_id == '2' %} class="active" {% endif %} style="font-size:18px; font-weight:bold; "><a href="/projects">Projects</a></li>					
					<li {% if tab_id == '3' %} class="active" {% endif %} style="font-size:18px; font-weight:bold; "><a href="">Academics</a></li>
					<li {% if tab_id == '4' %} class="active" {% endif %} style="font-size:18px; font-weight:bold; "><a href="http://blog.akshaydeo.me">Tech Blog</a></li>		
				</ul>				
			</div>	
			<hr>
		</div>

		<div class="container">
			{% block container %}{% endblock %}
		</div>
		<div class="container">		
			<span class="label" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">Get in touch</span>
			<a href="http://facebook.com/akshaymdeo" target="_blank"><img src="{{ MEDIA_URL }}img/social_media/facebook32.png" alt=""/></a>
			<a href="http://twitter.com/akshay_deo" target="_blank"><img src="{{ MEDIA_URL }}img/social_media/tumbler32.png" alt=""/></a>
			<a href="http://in.linkedin.com/in/akshaymdeo" target="_blank"><img src="{{ MEDIA_URL }}img/social_media/linkedin32.png" alt=""/></a>
			<a href="https://plus.google.com/115489622487932620000/" target="_blank"><img src="{{ MEDIA_URL }}img/social_media/google32.png" alt=""/></a>
			<a href="http://blog.akshaydeo.me" target="_blank"><img src="{{ MEDIA_URL }}img/social_media/wordpress32.png" alt=""/></a>

			<!-- Be sure to leave the brand out there if you want it shown -->
			<p><span class="label">Copyright 2012 Akshay Deo</span></br>Proudly developed using Django, Admin-tools, Debug-Toolbar, South, MySql, Apache, mod-wsgi, Git, Fabric, Twitter Bootstrap and Sublime2 </p>

		</div>
	</body>
</html>