{% extends "base.html" %}
{% block container %}

	<div class="container">
		<span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">
			Bachelors of Computer Science
		</span><br><br>

		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:100%">I did my bachelors from Pune Institute of Computer Technology, Pune. PICT is one of the most renowned colleges in India for Computer Science course.<br><br>Courses completed</p>
		<ol style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">
			<li>Advanced Database Management System</li>
			<li>Data Structures</li>
			<li>Theory Of Computation</li>
			<li>Operating Systems</li>
			<li>Computer Graphics</li>
			<li>Programming Languages</li>
		</ol><br>
		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:100%">
			CGPA: 3.78/4.0<br>
			Percentage : 72.59
		</p>
	</div>

{% endblock %}