{% extends "base.html" %}

{% block container %}
	<div class="container">
		<span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">Honors, Awards & Achievements</span><br><br>
			<ol style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:250%">
				<li style="margin-top:10px;">Best project in Application Category : Impetus 2010, a national level competition</li>
				<li style="margin-top:10px;">Best project in Application Category : Concepts 2010, a national level competition</li>
				<li style="margin-top:10px;">AppSurfer (Earlier DroidCloud) : Top 12 of 30 start-up product : ‘PuneConnect 2011: Start-up Showcase’ : (<a href="http://tinyurl.com/7l2j9lh" target="_blank"> Pune Tech</a>,<a href="http://tinyurl.com/7rhwlg8" target="_blank"> The Financial Express</a>,<a href="http://tinyurl.com/729w5er" target="_blank"> Financial Chronicle</a>,<a href="http://tinyurl.com/7u2eb8o" target="_blank"> Business Standard</a> )</li>
				<li style="margin-top:10px;">AppSurfer (Earlier DroidCloud): Top 4 product : ETNow’s ‘Starting Up’ show</li>
				<li style="margin-top:10px;">AppSurfer (Earlier DroidCloud): Top 10 finalist : ETNow’s ‘Super Angels’ show : <a href="http://bit.ly/sM6hNR" target="_blank"> Video link </a></li>
				<li style="margin-top:10px;">AppSurfer (Earlier DroidCloud): Top 10 out of 340 start-ups across India : ‘Unpluggd 2011’ : <a href="http://www.unpluggd.org" target="_blank">Unpluggd Site</a></li>
				<li style="margin-top:10px;">RainingClouds Engineering : Best start-up award at ‘PuneConnect 2011: Start-up Showcase’</li>
			</ol>							
	</div>

{% endblock %}
