{% extends "base.html" %}
{% block container %}

		<a class="thumbnails" >
			<li class="span4" style="padding:0cm 0.5cm 0cm 0cm;">
				<div class="thumbnail">
					<img src="{{ MEDIA_URL }}img/profile.png" alt="">							
				</div>
			</li>
		</a>

		<p style="font-family: 'Crete Round', serif; font-size:23px; font-weight:400px; line-height:150%">
			&nbsp&nbsp&nbspI am Akshay. I live in Pune and I am co-founder of RainingClouds Tech Pvt Ltd. It's a product based company and our first product is <a href"http://appsurfer.com">AppSurfer</a>. I am passionate about programming and I love my code. Recently I started coding in Python and really hooked on it. We believe in open source products. I mainly work on web applications more specifically Django (a python based web framework) and Android application development as well as Android system changes. I am hoping to make this site as a generic blog engine. Lets see how it goes :).</br></br>
			&nbsp&nbsp&nbspBefore starting my own venture I was working with SunGard Global Services. I worked for one and a half years, mainly on C#.net and Microsoft(C) analysis services. I was associated with RiskCube(C) product which is a Multidimensional Database support for SunGard's and third party financial products.
		</p>		
{% endblock %}