{% extends "base.html" %}
{% block container %}

		<a class="thumbnails" >
			<li class="span4" style="padding:0cm 0.5cm 0cm 0cm;">
				<div class="thumbnail">
					<img src="{{ MEDIA_URL }}img/profile.jpg" alt="">							
				</div>
			</li>
		</a>

		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">
			&nbsp&nbsp&nbspHello guys, I'm akshay. I am co-founder of <a href="http://rainingclouds.com" target="_blank">RainingClouds Tech Pvt Ltd</a>. I love coding. Recently I started coding in Python and really hooked on to it. I believe in open source products. I mainly work on web applications, more specifically on applications based on Django (a python based web framework) and in mobile domain on Android applications as well as Android source code.</br>
			&nbsp&nbsp&nbspBefore starting my own venture I was working with SunGard Global Services. I worked for one and a half years, mainly on C#.net and Microsoft(C) analysis services. I was associated with RiskCube(C) product which is a Multidimensional Database support for SunGard's and third party financial products.</br>
			&nbsp&nbsp&nbspBesides coding I am a die-hard fan of Cricket. I used to be wicket-keeper of my school team which represented Solpaur district twice B-). I listen to wide range of music right from hindi, marathi, english, telegu. Here is my <a href="http://grooveshark.com/#!/akshay.deo/" target="_blank">Grooveshark</a> playlist. I am a complete foodie and mainly like Indian food. And one more thing which I proudly tell everyone that I have lost 20kgs in 5 months with all required dedication B-).</br></br>			
		</p>		
{% endblock %}