{% extends "base.html" %}

{% block container %}
	<div class="container">
		<span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">
			AppSurfer
		</span></br></br>
		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">
			<a href="http://appsurfer.com" targe"_blank">AppSurfer</a> is focused on to creating more visibility to Android applications. We basically run Android application in browser. So that Android users can use any Android application before actually downloading it. We provide a lot of analytics about traffic and usage to the app publishers. You can view site for more information. It's <a href="http://rainingclouds.com" target="_blank">RainingClouds Tech Pvt Ltd</a>'s first product and we are supported by One97 mobility fund.</br>
			Role : Core technology developer and Co-founder :)
		</p></br>
		<span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">
			Adaptiv Risk Cube
		</span></br></br>
		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">
			A new product was introduced in 2008 that offered Business Intelligence for market risk products like Adaptiv 360 and Adaptiv Analytics. A small development team based in Cambridge and London had started initial work on it and I joined that team in Dec 2010. I have worked on number of showstopper issues , programming, testing, documentation, staging database design and multidimensional database design.
			</br>
			Role : Associate Software Engineer (1yr) Product Engineer (6 months)
		</p></br>
			<span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">
			OmniDesk : Your desktop everywhere
		</span></br></br>
		<p style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:150%">
			RDP (Remote Desktop Protocol) client for Android. It was my final year engineering project. Market <a href="https://play.google.com/store/apps/details?id=com.mazze.omniDesk&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5tYXp6ZS5vbW5pRGVzayJd" target="_blank">link</a>.</br>
			Responsibilities:</br>
				&nbsp&nbsp* Worked on Android Side development</br>
				&nbsp&nbsp* Image manipulations and input output communication</br>
				&nbsp&nbsp* GUI interactions</br>
				&nbsp&nbsp* Android level event management</br>
		<script type="text/javascript" src="http://appsurfer.com/surf_it_button.js"></script>
		<a href="#", class="appSurferButtonStyles ASWButton", id="ASWButton" data-coupon="7c06e180-c4f9-012f-64b1-1231400041d3">Surf This App</a>
		</p></br>

		
	</div>		

{% endblock %}
