{% extends "base.html" %}

{% block container %}	
	<script type="text/javascript">
		function showModal()
		{
		 	$('#myModal').modal('show');
		}

	</script>
	
	<div class="modal hide fade" id="myModal" style="width:680px; height:550px;">
        <div class="modal-header">
                <p>LFY 2012 Aug
		<button type="button" class="close" data-dismiss="modal">×</button></p>
        </div>
        <div class="modal-body">
	       <iframe src="https://docs.google.com/file/d/0B6B16Ogy5VcAM1dZUFp2WTkxYjQ/preview" width="640" height="500"></iframe> 
	</div>
        </div>

        <div class="container">                                    
                <span class="label label-info" style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px;">Publications</span><br><br>
                        <ol style="font-family: 'Crete Round', serif; font-size:20px; font-weight:400px; line-height:250%">
                                <li style="margin-top:10px;">Django: A web framework with immense potential - LINUX FOR YOU:Volume 10:Issue 6:August 2012</li>
                        </ol>                                                   
        </div>


{% endblock %}
